<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
<h1>Apple Pie</h1>
<img src="https://images.media-allrecipes.com/userphotos/720x405/1052119.jpg"
     height="250px" width="400px" alt="Apple Pie" />
<h2>Ingredients:</h2>
</p>
<ul>
    <li>1/2 cup sugar</li>
    <li>1/2 cup packed brown sugar</li>
    <li>tablespoons all-purpose flour</li>
    <li>1 teaspoon ground cinnamon</li>
    <li>1/4 teaspoon ground ginger</li>
    <li>1/4 teaspoon ground nutmeg</li>
    <li>egg (or substitute for special diets)</li>
    <li>tartar sauce or cocktail sauce</li>
</ul>
</p>
<h2>Directions:</h2>
<p>
    <ol>
    <li>Combine 2 1/2 cups flour, 1 teaspoon sugar, salt, 1/2 teaspoon cinnamon and 1/4 teaspoon nutmeg in bowl. Cut in 3/4 cup butter with pastry blender or fork until mixture resembles coarse crumbs. Stir in enough water with fork just until flour is moistened.</li>
    <br/>
    <li>Divide dough in half; shape each half into ball. Flatten slightly. Wrap each ball of dough in plastic food wrap; refrigerate 30 minutes.</li>
    <br/>
    <li>Heat oven to 400°F.</li>
    <br/>
    <li>Roll out one ball of dough on lightly floured surface into 12-inch circle. Fold into quarters. Place dough into ungreased 9-inch pie plate; unfold dough, pressing firmly against bottom and sides. Trim crust to 1/2 inch from edge of pie plate; set aside.</li>
    <br/>
    </ol>
</p>
</body>
</html>